:root {
  --gray-900: rgba(16, 24, 40, 1);
  --primary-700: rgba(105, 65, 198, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --indigo-700: rgba(53, 56, 205, 1);
  --pink-700: rgba(193, 21, 116, 1);
  --blue-light700: rgba(2, 106, 162, 1);
  --success-700: rgba(2, 122, 72, 1);
  --object-black-60: rgba(27, 27, 27, 0.6);
  --object-black-90: rgba(27, 27, 27, 0.9);
  --primary-100: rgba(244, 235, 255, 1);
  --primary-50: rgba(249, 245, 255, 1);
  --indigo-50: rgba(238, 244, 255, 1);
  --pink-50: rgba(253, 242, 250, 1);
  --blue-light50: rgba(240, 249, 255, 1);
  --success-50: rgba(236, 253, 243, 1);
  --white: rgba(255, 255, 255, 1);
  --gravyfa6-navy: rgba(25, 49, 84, 1);
  --display-xs-semibold-font-family: "Inter", Helvetica;
  --display-xs-semibold-font-weight: 600;
  --display-xs-semibold-font-size: 24px;
  --display-xs-semibold-letter-spacing: 0px;
  --display-xs-semibold-line-height: 32px;
  --display-xs-semibold-font-style: normal;
  --text-sm-semibold-font-family: "Inter", Helvetica;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
  --text-sm-semibold-font-style: normal;
  --text-md-regular-font-family: "Inter", Helvetica;
  --text-md-regular-font-weight: 400;
  --text-md-regular-font-size: 16px;
  --text-md-regular-letter-spacing: 0px;
  --text-md-regular-line-height: 24px;
  --text-md-regular-font-style: normal;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --text-lg-semibold-font-family: "Inter", Helvetica;
  --text-lg-semibold-font-weight: 600;
  --text-lg-semibold-font-size: 18px;
  --text-lg-semibold-letter-spacing: 0px;
  --text-lg-semibold-line-height: 28px;
  --text-lg-semibold-font-style: normal;
  --text-xl-medium-font-family: "Inter", Helvetica;
  --text-xl-medium-font-weight: 500;
  --text-xl-medium-font-size: 20px;
  --text-xl-medium-letter-spacing: 0px;
  --text-xl-medium-line-height: 30px;
  --text-xl-medium-font-style: normal;
  --text-md-semibold-font-family: "Inter", Helvetica;
  --text-md-semibold-font-weight: 600;
  --text-md-semibold-font-size: 16px;
  --text-md-semibold-letter-spacing: 0px;
  --text-md-semibold-line-height: 24px;
  --text-md-semibold-font-style: normal;
  --display-lg-semibold-font-family: "Inter", Helvetica;
  --display-lg-semibold-font-weight: 600;
  --display-lg-semibold-font-size: 48px;
  --display-lg-semibold-letter-spacing: -0.96px;
  --display-lg-semibold-line-height: 60px;
  --display-lg-semibold-font-style: normal;
  --text-xl-regular-font-family: "Inter", Helvetica;
  --text-xl-regular-font-weight: 400;
  --text-xl-regular-font-size: 20px;
  --text-xl-regular-letter-spacing: 0px;
  --text-xl-regular-line-height: 30px;
  --text-xl-regular-font-style: normal;
  --text-lg-regular-font-family: "Inter", Helvetica;
  --text-lg-regular-font-weight: 400;
  --text-lg-regular-font-size: 18px;
  --text-lg-regular-letter-spacing: 0px;
  --text-lg-regular-line-height: 28px;
  --text-lg-regular-font-style: normal;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-medium-font-style: normal;
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
